
.content
{
    height: 100%;
    background-color: white;
}
#boxSearch
{
    background: whitesmoke;

height: 200px;
position: relative;
bottom: 30px;
}
.inputsearch {
border-radius: 50px;
background-color: white;
margin-top: 60px;

width: 30%;
margin-left: 35%;
text-align: center;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1{
    position: relative;
    top: 20%;
    margin-left: 40%;
    font-weight: bold;
    font-family: cursive;
}

img 
{  
  
-webkit-transition: opacity 1s ease-in-out;  
-moz-transition: opacity 1s ease-in-out;  
-o-transition: opacity 1s ease-in-out;  
transition: opacity 1s ease-in-out;
}
@keyframes lfb3FadeInOut 
{
    from {
        opacity: 0;
    } 
    
    to{
        opacity: 1;
    }
}
 img.top 
{
animation-name:lfb3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-delay: 10s;
animation-direction: alternate;
}

.liste

 {
    

    margin-top:20px;
 }



 .cart
 {
     background: white;
border-radius: 5px;
button
{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 50px;
margin-left: 18%;
position:absolute;
   background-color: #faab1a;
}

   button:hover{
         transform:scale(1.05);
     }
     h1
     {
       

right: 20%;
word-wrap: break-word;

        
     }
     margin-top: 50px;
 white-space: pre;
     width: 400px;
     height: 100px;

     display: inline-flex;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-left: 5%;
 }

 .description{
     p{
     font-weight: bold;}
    overflow-wrap: break-word;
 }