#header
{
    position: fixed;
    margin-left: 20%;
}

#content

{   width: 60%;
 padding-bottom: 5vh;


display: inline-block;
  background-color: #faab1a;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
position: fixed;
margin-left: 50vh;
border-radius: 5px;
margin-top: 15vh;

}